.main {
    width: 90%;
    padding-top: 1rem;
}

.table-container {
    max-height: 70vh; 
    min-height: 70vh;
    overflow-y: auto;
}

.med-table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    box-sizing: border-box;
}

th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Fondo para que destaque */
    z-index: 1;
}

tbody {
    min-height: 70vh; /* Ajusta también según lo necesario */
}