html,body{
    height: 100%;
}

.navbar-container {
    height: 7vh;
}

.main {
    height: calc(100vh - 7vh - 4vh); /* Altura total menos la altura del navbar y footer */
    display: flex;
    flex-direction: column;
}

.title-container,
.selects-container,
.table-container-f {
    width: 90%;
    margin: auto;
}

.table-wrapper {
    overflow-y: auto;
    height: 100%;
}

.table-container-f {
    height: 100%;
    overflow-y: auto; /* Scroll solo en el eje Y */
    width: 90%;
    margin: auto;
    max-height: 60vh; /* Ajusta para limitar la altura de la tabla */
}

footer {
    height: 4vh;
}

